<form 
    class="change-password-form" 
    [formGroup]="passwordForm" 
    (ngSubmit)="handleSubmit()">
    <h3 class="change-password-title">Change password</h3>
    <mat-form-field appearance="outline" class="change-password-field">
        <mat-label>Current password</mat-label>
        <input
            matInput
            [type]="showCurrentPassword ? 'text' : 'password'"
            formControlName="currentPassword"
            placeholder="Current password"
            name="currentPassword" />
        <mat-icon
            class="change-password-toggle-button"
            matSuffix
            (click)="handleToggleCurrentPassword()">
            <i class="material-symbols-outlined">
                {{ showCurrentPassword ? 'visibility_off' : 'visibility' }}
            </i> 
        </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="change-password-field">
        <mat-label>New password</mat-label>
        <input
            matInput
            [type]="showNewPassword ? 'text' : 'password'"
            formControlName="newPassword"
            placeholder="New password"
            name="newPassword" />
        <mat-icon
            class="change-password-toggle-button"
            matSuffix
            (click)="handleToggleNewPassword()">
            <i class="material-symbols-outlined">
                {{ showNewPassword ? 'visibility_off' : 'visibility' }}
            </i> 
        </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="change-password-field">
        <mat-label>Confirmed password</mat-label>
        <input
            matInput
            [type]="showConfirmedPassword ? 'text' : 'password'"
            formControlName="confirmedPassword"
            placeholder="Confirmed password"
            name="confirmedPassword" />
        <mat-icon
            class="change-password-toggle-button"
            matSuffix
            (click)="handleToggleConfirmedPassword()">
            <i class="material-symbols-outlined">
                {{ showConfirmedPassword ? 'visibility_off' : 'visibility' }}
            </i> 
        </mat-icon>
    </mat-form-field>
    <button mat-button type="submit" class="change-password-save-button">
        <i class="material-symbols-outlined">
            save
        </i>Save
    </button>
</form>