<mat-drawer-container class="app-drawer-container">
    <mat-drawer-content class="app-drawer-content">
        <router-outlet />
    </mat-drawer-content>
    <mat-drawer 
        class="app-drawer"
        mode="side"
        position="start" 
        [opened]="drawer().opened">
        <ul class="app-drawer-list">
            <li class="app-drawer-item" (click)="handleStockClicked()">
                <span>🛒 Stock</span>
            </li>
            <li class="app-drawer-item" (click)="handleProfileClicked()">
                <span>🙍‍♀️ Profile</span>
            </li>
            <li class="app-drawer-item" (click)="handleSettingClicked()">
                <span>🎚️ Settings</span>
            </li>
            <li class="app-drawer-item" (click)="handleSignOutClicked()">
                <span>❌ Sign Out</span>
            </li>
        </ul>
    </mat-drawer>
</mat-drawer-container>